{% extends 'back/base.html.twig' %}

{% block title %}{{ 'back.texts.index.title'|trans({}, 'back') }}{% endblock %}

{% block back_content %}
<h1 class="mb-4">{{ 'back.texts.index.heading'|trans({}, 'back') }}</h1>
<p class="text-muted mb-4">{{ 'back.texts.index.intro'|trans({}, 'back') }}</p>

<div class="row g-3">
    <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ 'back.texts.card.about.title'|trans({}, 'back') }}</h5>
                <p class="card-text">{{ 'back.texts.card.about.text'|trans({}, 'back') }}</p>
                <a href="{{ path('app_back_about_section_edit') }}" class="btn btn-primary">
                    {{ 'back.texts.card.about.cta'|trans({}, 'back') }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

