{% extends 'back/base.html.twig' %}

{% block title %}
    {% if user.id %}
        {{ 'back.users.form.title_edit'|trans(domain='back') }}
    {% else %}
        {{ 'back.users.form.title_new'|trans(domain='back') }}
    {% endif %}
{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block back_content %}
<h1 class="mb-4">
    {% if user.id %}
        {{ 'back.users.form.heading_edit'|trans(domain='back') }}
    {% else %}
        {{ 'back.users.form.heading_new'|trans(domain='back') }}
    {% endif %}
</h1>

{{ form_start(form) }}
<div class="card shadow-sm">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-6">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
            <div class="col-12">
                {{ form_row(form.roles) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.plainPassword.first) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.plainPassword.second) }}
            </div>
        </div>
        <hr class="my-4">
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary">
                {{ 'back.users.form.save'|trans(domain='back') }}
            </button>
            <a href="{{ path('app_back_user_index') }}" class="btn btn-outline-secondary">
                {{ 'back.users.form.cancel'|trans(domain='back') }}
            </a>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}
