{% extends 'base.html.twig' %}

{% block head_hreflang %}
<link rel="alternate" hreflang="fr" href="{{ path_for_locale('app_horaires_public', 'fr') }}">
<link rel="alternate" hreflang="de" href="{{ path_for_locale('app_horaires_public', 'de') }}">
<link rel="alternate" hreflang="x-default" href="{{ path_for_locale('app_horaires_public', 'fr') }}">
{% endblock %}

{% block title %}{{ 'hours.title'|trans }} - Carrosserie Lino{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/horaires.css') }}">
{% endblock %}

{% block body %}
{% include 'partials/_navbar_public.html.twig' %}
<div class="container py-5">
    <h1 class="section-title mb-4">{{ 'hours.title'|trans }}</h1>

    {% if horaires_full is not empty %}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                {% include 'components/opening_hours.html.twig' with { rows: horaires_full, mode: 'full' } %}
            </div>
        </div>
    {% else %}
        <p class="lead text-muted mb-4">{{ 'hours.empty'|trans }}</p>
    {% endif %}
</div>
{% include 'partials/_footer_public.html.twig' %}
{% endblock %}

