{% extends 'base.html.twig' %}

{% block title %}{{ 'mentions.title'|trans }} - Carrosserie Lino{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('styles/pages/mentions_legales.css') }}">
{% endblock %}

{% block body %}
{% include 'partials/_navbar_public.html.twig' %}
<div class="container py-5">
    <h1 class="section-title mb-4">{{ 'mentions.title'|trans }}</h1>
    <p class="text-muted">{{ 'mentions.placeholder'|trans }}</p>
</div>
{% include 'partials/_footer_public.html.twig' %}
{% endblock %}
